<!DOCTYPE html>
<html>
	<head>
		<title>About</title>
	</head>
	
	<body>
		<h1>About</h1>
		
		<p>This website is created to allow customers to create their own pizza</p>
		<p>based on available toppings offered by Pizza Pika.</p>
	</body>
</html>